@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    position: relative;
    margin: 1%;
	font-family: 'Lato';
}

h2 {
  color: #303030;
  font-family: 'Bebas Neue';
  font-size: 36px;
}
p {
  color: #303030;
  font-size: 18px;
  margin: 10px;
}

div {
	padding: 10px;	
}

.main-page-flex-container {
  display: flex;
  flex-direction: column;
  min-width: 640px;
}

.header-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 640px;
}
